@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter, 'sans-serif';
}

:root {
    --primary: #363049;
    --white: #ffffff;
    --secondary: #eaeafc;
}

nav {
    background-color: var(--primary);
    width: 100%;
}

nav > ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    padding: 1rem;;
}

nav > ul > li {
    list-style: none;
}

nav > ul > li > a {
    color: var(--white);
    text-decoration: none;
    font-size: 1.4rem;
    transition: 0.4s;
}

nav > ul > li > .logo {
    width: 6rem;
}


nav > ul > li > a:hover {
    margin-left: 5%;
}

.container-banner {
    background-image: url('/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    height: 80vh;
}


.container-slogan {
    background-color: var(--secondary);
    animation: myAnim 1s ease 0s 1 normal forwards;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    position: absolute;
    top: 75%;
    left: 10%;
    width: 80%;
}

.text-slogan {
    width: 90%;
    padding: 36px;
    text-align: center;
    font: 700 3rem 'Inter';
    color: var(--primary);
}

.container-button {
    display: flex;
    justify-content: center;
    width: 100%;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    font-size: 2rem;
    font-weight: 500;
    width: 80%;
    cursor: pointer;
    transition: 0.4s;
    color: var(--primary);
}


.outline {
    background-color: var(--secondary);
    border: solid 6px var(--primary);
}

.outline:hover {
    background-color: var(--primary);
    color: var(--white);
}

.solid {
    background-color: var(--primary);
    color: #fff;
}

.solid:hover {
    background-color: var(--secondary);
    border: solid 6px var(--primary);
    color: var(--primary);
}
.container-portfolio {
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    height: 120vh;
}

.card-portfolio {
    background-color: var(--secondary);
    animation: myAnim 1s ease 0s 1 normal forwards;
    margin-top: 2rem;
    width: 20%;
    border-radius: 20px;
    transition: 0.4s;
}

.card-portfolio:hover {
    margin-top: 0.8rem;
}

.card-portfolio > img {
    width: 100%;
}

.container-text-portfolio {
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}

.text-portfolio {
    text-align: center;
    color: var(--primary);
}

.card-portfolio:hover {
    transform: translateX(5%);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.container-services {
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-services {
    background-color: var(--secondary);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    width: 70%;
    top: 200%;
    flex-direction: column;
}

.services {
    display: flex;
    max-width: 100%;
}

.service {
    display: none;
    align-items: center;
    justify-content: center;
}

.service.active {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
    animation: myAnim 1s ease 0s 1 normal forwards;
}

.container-img, .container-texts {
    width: 50%;
}

.container-img {
    display: flex;
    justify-content: center;
}

.container-img > img {
    padding: 2rem;
}
.container-texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 8rem;
    height: 100%;
}
.title-service {
    color: var(--primary);
    font-size: 3rem;
    letter-spacing: 0.1rem;
    font-weight: 500;
    text-align: center;
}

.text-service {
    color: var(--primary);
    font-size: 2.4rem;
    letter-spacing: 0.1rem;
    font-weight: 400;
    text-align: center;
    flex-wrap: wrap;
    margin-bottom: 4rem;
}

.actions-services { 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 4rem;
}

.circle-action {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: var(--primary);
    cursor: pointer;
}

.circle-action.active {
    background-color: var(--secondary);
    border: solid 8px var(--primary);
}
@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateX(250px);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateX(0);
	}

	55% {
		animation-timing-function: ease-in;
		transform: translateX(68px);
	}

	72% {
		animation-timing-function: ease-out;
		transform: translateX(0);
	}

	81% {
		animation-timing-function: ease-in;
		transform: translateX(32px);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateX(0);
	}

	95% {
		animation-timing-function: ease-in;
		transform: translateX(8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateX(0);
	}
}

hr {
    padding: 2rem;
    height: 30vh;
    transform: translateY(-80%);
    border: none;
    background-color: var(--primary);
    margin-bottom: -12%;
}


footer {
    width: 100%;
    background: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    position: absolute;
    top: 300vh;
}

footer > img {
    width: 6rem;
}

footer > hr {
    margin-left: 5rem;
    margin-right: 5rem;
    padding: 0rem;
    height: 14vh;
    width: 0.2vw;
    border-radius: 2px;
    transform: translateY(0%);
    border: none;
    background-color: var(--primary);
    margin-bottom: 0%;
}
footer > span {
    font-weight: 700;
    color: var(--primary);
    font-size: 1.3rem;
}

@media (max-height: 900px) and (max-width: 400px) {
    .container-portfolio {
        height: 200vh !important;
    }
}

@media (max-height: 900px) {
    .container-portfolio {
        height: 160vh !important;
    }
    .box-services {
        top: 240% !important;
    }

    footer {
        top: 330% !important;
    }
}

@media (max-width: 1920px) {
    .container-img > img {
        width: 24rem;
    }

    .title-service {
        font-size: 2rem;
    }

    .text-service {
        font-size: 1.4rem;
    }

    .btn {
        font-size: 1rem;
        width: 80%;
    }
}

@media (max-width: 1280px){
    .img-banner {
        height: 80vh;
    }

    .container-slogan {
        top: 50%;
    }

    .text-slogan  {
        font-size: 2rem;
        width: 90%;
    }

    .btn {
        font-size: 1rem;
        width: 60%;
    }

    .outline {
        border-width: 4px;
    }

    .container-portfolio {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        height: 230vh;
    }
    
    .card-portfolio   {
        margin-top: 2rem;
        width: 30%;
    }

    .box-services {
        top: 310%;
    }

    .container-texts {
        padding: 0px;
        margin-top: 4rem;
    }

    .title-service {
        font-size: 1.8rem;
    }

    .text-service {
        font-size: 1rem;
        margin-bottom: 2rem;
    }

    .container-img{
        display: none;
    }

    .solid {
        width: 100vh;
    }

    footer  {
        top: 380%;
    }
    
}


@media (max-width: 800px) {
    nav > ul {
        gap: 4rem;
    }
    nav > ul > li > a {
        font-size: 1rem;
    }

    nav > ul > li > .logo {
        width: 4rem;
    }

    .container-slogan  {
        flex-direction: column;
        top: 60%;
    }

    .text-slogan {
        width: 100%;
        text-align: center;
        padding: 0px;
        padding-top: 2rem;
        font-size: 1.6rem;
    }

    .img-banner {
        height: 40vh;
    }

    .container-button {
        padding: 1rem;
    }

    .container-portfolio {
        justify-content: flex-start;
        height: 220vh;
    }

    .card-portfolio   {
        width: 40%;
    }

    .box-services {
        top: 280%;
    }

    footer {
        width: 100%;
        background: var(--secondary);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }

    footer > img {
        width: 6rem;
    }
            
    footer > hr {
        margin-left: 4rem;
        margin-right: 4rem;
        padding: 0rem;
        height: 14vh;
        width: 0.2vw;
        border-radius: 2px;
        transform: translateY(0%);
        border: none;
        background-color: var(--primary);
        margin-bottom: 0%;
    }

    footer > span {
        font-weight: 700;
        color: var(--primary);
        font-size: 1.3rem;
    }
}

@media (max-width: 640px) {
    .card-portfolio   {
        width: 50%;
    }

    .box-services {
        top: 280%;
    }
}

@media (max-width: 400px) {
    nav > ul {
        gap: 2rem;
    }
    nav > ul > li > a {
        font-size: 0.6rem;
    }

    nav > ul > li > .logo {
        width: 2rem;
    }

    .container-slogan  {
        top: 60%;
    }

    .text-slogan {
        padding-top: 1rem;
        font-size: 1rem;
    }

    .img-banner {
        height: 30vh;
    }

    .btn {
        font-size: 0.8rem;
        width: 60%;
    }

    .icon-map {
        width: 1rem;
    }

    .text-portfolio {
        font-size: 0.8rem;
    }

    .container-portfolio {
        height: 130vh;
    }

    .box-services {
        top: 210%;
    }

    .title-service {
        font-size: 1rem;
    }

    .text-service {
        font-size: 0.8rem;
        margin-bottom: 1rem;
    }

    .btn{
        width: 100%;
    }

    .container-button {
        width: 20vh;
    }

    footer {
        top: 280%;
    }

    footer > img {
        width: 3rem;
    }

    footer > hr {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    footer > span  {
        font-size: 1rem;
    }
}